[Unit]
Description=Lock screen before suspend
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=swayidle before-sleep 'hyprlock'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
