[Unit]
Description=Idle manager
PartOf=graphical-session.target

[Service]
Type=simple
Environment=LOCK_TIMEOUT=300
EnvironmentFile=-%h/.config/swayidle/config.env
ExecStart=swayidle -w timeout ${LOCK_TIMEOUT} hyprlock before-sleep "hyprlock & sleep 1"
Restart=on-failure

[Install]
WantedBy=graphical-session.target
