[Unit]
Description=Idle and suspend screen locker
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=swayidle -w \
    timeout 300 'loginctl lock-session'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
